BasedOnStyle: WebKit
Language: Cpp
IndentWidth: 4
ConstructorInitializerAllOnOneLineOrOnePerLine: true
UseTab: Never
ColumnLimit: 80
BreakBeforeBraces: Allman
AlignConsecutiveAssignments: true
AlignOperands: true
AllowShortIfStatementsOnASingleLine: true 
SpaceInEmptyParentheses: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: true
SpacesInCStyleCastParentheses: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeColon 
#PackConstructorInitializers: CurrentLine
AllowShortFunctionsOnASingleLine: None
BinPackParameters: false
BinPackArguments: false
AllowShortBlocksOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
IndentCaseLabels: true